*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container1 {
  max-width: 1200px;
  padding: 12px 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .container1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .container1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-item-1 {
  max-width: 600px;
  padding: 12px 16px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: flex-start;
}

.container-item-1 h1 {
  margin-bottom: 16px;
  font-weight: 400;
}

.container-item-1 p {
  font-family: 'Jost', sans-serif;
  color: #77787C;
  font-weight: 400;
}

.container-item-2 {
  padding: 12px 16px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container2 h2 {
  font-weight: 200;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: flex-start;
}

.articles-row1 {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .articles-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .articles-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.articles h3 {
  font-weight: 600;
  position: relative;
}

.articles h3::after {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  left: 0px;
  width: 0%;
  height: 2px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .articles h3::after {
    top: 28px;
  }
}

@media screen and (max-width: 960px) {
  .articles h3::after {
    top: 28px;
  }
}

.articles h3:hover {
  color: #373358;
}

.articles h3:hover::after {
  width: 80%;
  background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
}

.articles-row1 h4 {
  font-weight: 400;
  line-height: 100%;
}

.article-1 {
  margin: 16px;
}

.article-2 {
  margin: 16px;
}

.article-3 {
  margin: 16px;
}

.article-4 {
  margin: 16px;
}

.container3 {
  margin-top: 52px;
  background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
  border-radius: 32px 32px 0px 0px;
}

.container3 {
  text-align: center;
}

.download {
  border: 1px solid #EEF1F8;
}

.download h2 {
  margin: 52px 0;
  color: #EEF1F8;
  font-weight: 400;
}

.download-app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .download-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .download-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.descript-app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.descript-app h3 {
  color: #F7F8FC;
  margin-bottom: 32px;
  font-weight: 200;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .descript-app h3 {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 960px) {
  .descript-app h3 {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.descript-app p {
  font-family: 'Jost', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .descript-app p {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 960px) {
  .descript-app p {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.descript-app img {
  margin-right: 16px;
}

.descript-app p img {
  width: 20px;
  height: 20px;
}

.buttons {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  padding: 12px 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .buttons {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .buttons {
    width: 100%;
  }
}

.btn1 {
  width: 200px;
  height: 54px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  background: transparent;
  border: 2px solid #D1D3D8;
  position: relative;
}

.btn-apple:hover {
  background: #D1D3D8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn2 {
  width: 200px;
  height: 54px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  background: transparent;
  border: 2px solid #D1D3D8;
  position: relative;
}

.btn-play:hover {
  background: #D1D3D8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.buttons a img {
  width: 20px;
  height: 20px;
}

.download-app img {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .download-app img {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .download-app img {
    width: 100%;
  }
}

h1 {
  color: #0B0920;
  font-family: 'Jost', sans-serif;
  font-size: 64px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #0B0920;
  font-family: 'Jost', sans-serif;
  font-size: 52px;
  line-height: 110%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #0B0920;
  font-family: 'Jost', sans-serif;
  font-size: 36px;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #0B0920;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #19143D 14.43%, #0B0920 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h5 {
    font-family: 'Jost', sans-serif;
    font-size: 10px;
    line-height: 150%;
  }
}

p {
  color: #B3B5BA;
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #373358;
}

strong {
  color: #0B0920;
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  strong {
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #EEF1F8;
}

svg, img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #19143D;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  padding: 8px 12px;
  background: #F7F8FC;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: fixed;
  z-index: 999;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.bx::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background-color: #4741BB;
}

.bx::before {
  content: '';
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background-color: #4741BB;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

.active-bx::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 17%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 70%;
  height: 2px;
  background-color: #4741BB;
}

.active-bx::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 17%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  width: 70%;
  height: 2px;
  background-color: #4741BB;
}

.menu-mobile {
  background-color: #F7F8FC;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 888;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nav-list-mobile {
  height: 50vh;
  max-width: 1200px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 7s ease;
  transition: 7s ease;
}

.nav-link-mobile {
  display: block;
  font-family: 'Jost', sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #77787C;
  padding: 16px 24px;
  position: relative;
}

.nav-link-mobile::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: #4741BB;
}

.nav-link-mobile:hover {
  color: #201C62;
}

.nav-link-mobile:hover::after {
  width: 100%;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nav-list-mobile {
  text-decoration: none;
  list-style: none;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.navbar-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .nav-list {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

.logo {
  max-width: 88px;
  z-index: 999;
}

.nav-linkdesktop {
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  line-height: 130%;
  display: inline-block;
  color: #0B0920;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  padding: 8px 16px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  position: relative;
}

.nav-linkdesktop::after {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  left: 16px;
  width: 0%;
  height: 2px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
}

.nav-linkdesktop:hover {
  color: #373358;
}

.nav-linkdesktop:hover::after {
  width: 100%;
  background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .navbar-item-2 {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .navbar-item-2 {
    display: none;
  }
}

.btn {
  border: 1px solid blue;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 16px;
  width: 200px;
  height: 54px;
  color: #EEF1F8;
  background-color: #201C62;
  border: 2px solid #F7F8FC;
  position: relative;
}

.btn::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */