*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "partials/_colors.scss";
@import "partials/_layout.scss";
@import "partials/_typography.scss";
@import "partials/_buttons.scss";
@import "partials/_spacing.scss";



html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    
    scroll-behavior: smooth;

    background-color: #1a1a1a;
}

svg, img {
    display: block;
    width: 100%;
}

.border {
    border: 1px solid red;
}

@import "partials/_menu.scss";
@import "partials/_swiper.scss";
@import "partials/_icons.scss";
@import "partials/_footer.scss";
@import "partials/_animations.scss";
