// Layout of project [responsive]

// Container devices

$container-xl: 1440px; // Desktop 
$container-l: 1140px; // Tablet
$container-m: 960px; // Mobile
$container-s: 540px; // Mobile small

// Mixins of media query

@mixin responsive($device){ // dispositivo 
    @if $device == xl{
        // For resolutions upper than 1440px
        @media screen and (min-width: $container-xl){
            @content;
        }
    }
    
    @else if $device == l {
        // For resolutions between 1140px(piso) and 1440px(teto)
        @media screen and (max-width: $container-xl) and (min-width: $container-l){
            @content;
        }
    }
    
    @else if $device == m {
        // For resolutions between 960px(piso) and 1140px(teto)
        @media screen and (max-width: $container-l) and (min-width: $container-m){
            @content;
        }
    }

    @else if $device == s {
        // For resolutions less than 960px [Abaixo de 960px]
        @media screen and (max-width: $container-m){
            @content;
        }
    }

    @else if $device == xs {
        // For resolutions less than 540px [Abaixo de 540px]
        @media screen and (max-width: $container-s){
            @content;
        }
    }

}

.container1 {
    border: 1px solid red;
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-item-1 {
    border: 1px solid red;
    max-width: 600px;
    padding: 12px 16px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: flex-start;
}
.container-item-2 {
    border: 1px solid red;
    padding: 12px 16px;
    
    
    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

}
.container2{
    border: 1px solid red;
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.articles {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: flex-start;
}
.articles-row1{
    border: 1px solid blue;
    margin-top: 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container3{
    border: 1px solid red;
    
    margin-top: 52px;
    background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
    border-radius: 32px 32px 0px 0px;
}
.container3{
    text-align: center;
    height: 100vh;
}
.download h2 {
    margin: 52px 0;
    color: $white;
}
.download-app {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.descript-app {
    border: 1px solid red;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.descript-app h3 {
    color: $white-light;
    margin-bottom: 32px;
}
.descript-app p{
    border: 1px solid black;
    display: flex;
    padding: 12px 16px;
    margin-bottom: 16px;
}
.descript-app img {
    margin-right: 16px;
}
.descript-app p img {
    width: 20px;
    height: 20px;
}
.buttons {
    border: 1px solid black;
    width: 100%;
    padding: 12px 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.btn1 {
    border: 1px solid red;
    width: 100%;
    margin-right: 8px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn1 a {
    border: 1px solid black;
    padding: 12px 32px;
    border-radius: 3px;

    display: flex;
    
}
.btn2 {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn2 a {
    border: 1px solid black;
    padding: 12px 32px;
    border-radius: 3px;
    
    display: flex;
}
.buttons a img{
    width: 20px;
    height: 20px;
}
.download-app img {
    width: 80px;
    height: 80px;
}