header{ 
    width: 100%;
   
    padding: 8px 12px;
    background: $white-light;
    box-shadow: none;

    position: fixed;
    z-index: 999;
}
.navbar-mobile {
    max-width: $container-xl;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;

    display: none;
    
    @include responsive(m){
        display: flex;
    }
    @include responsive(s){
        display: flex;
    }
}
.bx {
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;

    z-index: 999;
    transition: .7s ease;

    &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 17%;

        width: 70%;
        height: 2px;
        border-radius: 2px;

        transition: .7s ease;

        background-color: $purple;
    }
    &::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 17%;

        width: 70%;
        height: 2px;,

        transition: .7s ease;

        background-color: $purple;
    }
}
.active-bx{
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 999;
   
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 17%;

        transform: rotate(-135deg);

        width: 70%;
        height: 2px;

        background-color: $purple;
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 17%;

        transform: rotate(315deg);

        width: 70%;
        height: 2px;

        background-color: $purple;
    }
}
.menu-mobile {
    background-color: $white-light;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    z-index: 888;

    transition: .7s ease;
}
.nav-list-mobile {
    height: 50vh;
    max-width: 1200px;
    list-style: none;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    transition: 7s ease;
}
.nav-link-mobile {
    display: block;
    @include typeface-1(h3, desktop);
    color: $gray-2;

    padding: 16px 24px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top:90%;
        left: 16px;

        width: 0%;
        height: 2px;
        transition: 1s ease;

        background-color: $purple;
    }

    &:hover {
        color: $purple-dark;

        &::after{
            width: 100%;
        }
    }
}
.active-menu-mobile {
    opacity: 1;
    pointer-events: all;
    transition: .7s ease;
}
.nav-list-mobile {
    text-decoration: none;
    list-style: none;
    transition: .7s ease;
}
.navbar-desktop{
    max-width: 1440px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(m){
        display: none;
    }
    @include responsive(s){
        display: none;
    }
    
}
.navbar-item-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-list{
    list-style: none;
    display: flex;

    li {
        margin-left: 24px;
    }

    @include responsive(m){
        display: none;
}
    @include responsive(s){
        display: none;
    }
}
.logo{
    max-width: 88px;   
    
    z-index: 999;
}
.nav-linkdesktop{
    @include typeface-1(h4, desktop);
    display: inline-block;

    color: $black-dark;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
  
    padding: 8px 16px;
    transition: .7s ease;

    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;

        top: 35px;
        left: 16px;

        width: 0%;
        height: 2px;
        transition: .7s ease;

        background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
    }

    &:hover{
        color: $black-light;
        &::after{
        width: 100%;
        
        background: linear-gradient(225.55deg, #201C62 -0.83%, #4741BB 92.61%);
        }
    }
}
.navbar-item-2{
    @include responsive(m){
        display: none;
}
    @include responsive(s){
        display: none;
    }
}
.btn {
    border: 1px solid blue;
    @include typeface-1(h5, desktop);

    display: flex;    
    align-items: center;
    justify-content: center;

    text-transform: uppercase;

    padding: 8px 16px;

    border-radius: 16px;
    width: 200px;
    height: 54px;

    color: $white;
    background-color: #201C62;
    border: 2px solid #F7F8FC;

    position: relative;

    &::after{
        content: "";
        display: flex;

        position: absolute;
    }
}
