// Colors of project

// Brand Colors

$purple: #4741BB;
$purple-dark: #201C62;
$purple-light: #7571D0;

$yellow: #FEDB41;
$yellow-dark: #80721A;
$yellow-light: #FFE86F;

$white: #EEF1F8;
$white-dark: #D1D3D8;
$white-light: #F7F8FC;

$black: #19143D;
$black-dark: #0B0920;
$black-light: #373358;

$gray-1: #95979B;
$gray-2: #77787C;
$gray-3: #B3B5BA;